<form class="game" {{action "addGame" on="submit"}}>
    <fieldset>
        <h3>Player one</h3>
        <label>
            Name
            {{select-component
              class="nameOne input"
              options=players
              selectOption="selectPlayer1"}}
        </label>
        <label>
          Score
          {{input class="score-one input" type="number" value=scoreOne}}
        </label>
    </fieldset>
    <fieldset>

        <h3>Player two</h3>
        <label>
            Name
            <span class="nameTwo input">
              {{nameTwo}}
            </span>
        </label>
        <label>
            Score
            {{input class="score-two input" type="number" value=scoreTwo}}
        </label>
    </fieldset>
    <fieldset>
        <label class="dateLabel">
            Date finished
            {{input class="date input" type="date" value=date}}
        </label>

        {{input class="submit-button" type="submit" value="submit" }}
    </fieldset>
</form>
