<form class="challenge-form" {{action "addChallenged" on="submit"}}>
    <fieldset>
        <label>
            Player 1:
            {{select-component
              class="player-one input"
              options=unchallengedPlayers
              selectOption="selectChallenger1"}}
        </label>
        <label>
            Player 2:
            {{select-component
              class="player-two input"
              options=posibleChallengers
              selectOption="selectChallenger2"}}
        </label>
    </fieldset>
    <fieldset>
        <label class="dateLabel">
            Date finished
            {{input class="date input" type="date" value=expiry}}
        </label>
    </fieldset>
    {{input class="submit-button" type="submit" value="submit" }}
</form>
