<tr>
    <th>Position</th>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>W/L</th>
    <th>Challenging</th>
</tr>
{{#each displayedPeople as |person|}}
    <tr class={{person.classNames}}>
        <td class="position">{{person.position}}</td>
        <td class="name">
            {{#link-to 'history' (query-params name=person.name)}}{{person.name}}{{/link-to}}
        </td>
        <td class="wins">{{person.wins}}</td>
        <td class="losses">{{person.losses}}</td>
        <td class="ratio">{{person.ratio}}</td>
        <td class="challenging">{{person.challenging}}</td>
    </tr>
{{/each}}