<h2 class="multiHeader">
  {{#link-to "admin-game" class="active"}}Add Game{{/link-to}}
  {{#link-to "admin-challenging" class="unactive"}}Add Challenging{{/link-to}}
  {{#link-to "admin-player" class="unactive"}}Add Player{{/link-to}}
</h2>
<div class="admin-container">
  <form class="game" {{action "addGame" on="submit"}}>
      <fieldset>
          <h3>Player one</h3>
          <label>
              Name
              {{input class="nameOne" type="text" value=nameOne placeholder="The Winner"}}
          </label>
          <label>
              Score
              {{input class="scoreOne" type="number" value=scoreOne}}
          </label>
      </fieldset>
      <fieldset>

          <h3>Player two</h3>
          <label>
              Name
              {{input class="nameTwo" type="text" value=nameTwo placeholder="The Looser"}}
          </label>
          <label>
              Score
              {{input class="scoreTwo" type="number" value=scoreTwo}}
          </label>
      </fieldset>
      <fieldset>
          <label class="dateLabel">
              Date finished
              {{input class="date" type="date" value=date}}
          </label>

          {{input class="submitButton" type="submit" value="submit" }}
      </fieldset>

  </form>
</div>
