<h2 class="multiHeader">
  <a {{action "setSection" "admin-challenging"}} class={{admin-challengingClass}} id="admin-challenging">Add challenging</a>
  <a {{action "setSection" "admin-game"}} class={{admin-gameClass}} id="admin-game">Add game</a>
    <a {{action "setSection" "admin-player"}} class={{admin-playerClass}} id="admin-player">Add player</a>
</h2>

{{component section model=model store=store transitionToGame="transitionToGame"}}
