{{#if isAuthenticated}}
  <h2 class="multiHeader">
    <a {{action "setSection" "admin-challenging"}} id="admin-challenging"
      class="{{if (eq section "admin-challenging") 'active'}}">Add challenging</a>
    <a {{action "setSection" "admin-game"}} id="admin-game"
      class="{{if (eq section "admin-game") 'active'}}">Add game</a>
    <a {{action "setSection" "admin-player"}}  id="admin-player"
      class="{{if (eq section "admin-player") 'active'}}">Add player</a>

  <button class="logoutButton" {{action "logout"}}>logout</button>
  </h2>

  {{component section model=model store=store transitionToGame="transitionToGame"}}
{{else}}
  <div class="admin-container">
    <h2>Login Form</h2>

    <form class="login-form" {{action "login" on="submit"}}>
      <fieldset>
        <h3>Login</h3>
        <label>
          Email
          {{input class="email" type="email" value=adminEmail placeholder="foo@bar.com"}}
        </label>
        <label>
          Password
          {{input class="password" type="password" value=adminPassword}}
        </label>
      </fieldset>
      <fieldset>
        <input type="submit" value="login" class="submitButton">
      </fieldset>
    </form>
  </div>
{{/if}}
