<div class="admin-container">
  <h1>Add Players</h1>
  <form class="add-player-form" {{action "addPlayers" on="submit"}}>
      <fieldset>
          <h2>Add Player</h2>
          <label>
              Name
              {{input class="playerName" type="text" value=playerName}}
          </label>
          <label>
              Games Won
              {{input class="playerGameWins" type="number" value=playerGameWins}}
          </label>
          <label>
              Games Lost
              {{input class="playerGameLosses" type="number" value=playerGameLosses}}
          </label>
          <label>
              Frames Won
              {{input class="playerFrameWins" type="number" value=playerFrameWins}}
          </label>
          <label>
              Frames Lost
              {{input class="playerFrameLosses" type="number" value=playerFrameLosses}}
          </label>
      </fieldset>
      <input type="submit" value="submit" class="submitButton">
  </form>
</div>
<div class="admin-container">
  <h1>Challenge Form</h1>
  <form class="challenge-form" {{action "addChallenged" on="submit"}}>
      <fieldset>
          <h2>add Challenge</h2>
          <label>
              Player 1:
              {{select-component 
              options=unchallengedPlayers 
              selectOption="selectChallenger1"}}
          </label>
          <label>
              Player 2:
              {{select-component 
              options=unchallengedPlayers 
              selectOption="selectChallenger2"}}
          </label>
      </fieldset>
      <input type="submit" value="submit" class="submitButton">
  </form>
</div>