<h2 class="multi-header">
  {{#each headers as |header|}}
    <a {{action "setSection" header.section}} id={{header.section}}
      class="{{if (eq section header.section) 'active'}}">Add {{header.name}}</a>
  {{/each}}

  <button class="logout-button" {{action "logout"}}>logout</button>
</h2>

{{component section model=model store=store
  transitionToGame="transitionToGame" setError="setError"}}

{{admin-error errorMessage=errorMessage}}
